.kanban-board {
  display: flex;
  gap: 16px;
  padding: 16px;

  max-width: 1280px; 
  margin: 0 auto;   
  max-height: 99vh;  
  overflow-y: auto; 
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .kanban-board {
    flex-direction: column;
    max-width: 95%;  
    overflow-y: visible;
  }
}
